
/*noinspection CssInvalidFunction*/
#account-container {
    height: 100%;
    min-width: 600px;
    max-width: 800px;
    width: 100%;
    padding: 20px 20px 0 20px;
    background-color: light-dark(var(--light-mode-login-bg-color),
        var(--dark-mode-login-bg-color));
    border-radius: 10px;

    font-size: 15px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

.information-container  {
    text-align: center;
}

.information-container .prompt-selected {
    font-size: 25px;
}

#account-container .close {
    display: flex;
}

#account-container .close .empty {
    flex-grow: 1;
}


.right-side-container {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
}
/*noinspection CssInvalidFunction*/
.switches button {
    font-size: 20px;
    padding: 10px 10px 10px;
    background-color: light-dark(var(--light-mode-login-bg-color),
    var(--dark-mode-login-bg-color));
    border: none;
    margin: 5px;
}

.switches {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

/*noinspection CssInvalidFunction*/
.prompt-switch {
    display: inline-flex;
    align-items: flex-start;
    background-color: light-dark(var(--light-mode-login-bg-color),
    var(--dark-mode-login-bg-color));
    font-size: 25px;
}

/*noinspection CssInvalidFunction*/
.color-switch {
    align-self: flex-start;
    background-color: light-dark(var(--light-mode-login-bg-color),
    var(--dark-mode-login-bg-color));/*light-dark(#dddddd, #787474);*/
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 60%;
    max-height: 60%;
    margin: auto;
}

.logo-container img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
}


/*noinspection CssInvalidFunction*/
.active-prompt {
    color: light-dark(#13a40d, #36b911);
}
/*noinspection CssInvalidFunction*/
.not-active-prompt {
    color: light-dark(#000000, #ffffff);
}

.credential-error {
    color: #d41212;
}

.required-field {
    color: red;
}


.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.input-container input,
.input-container label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2px;
    font-size: 20px;
}

.input-container label, .credential-error {
    margin-left: 4px;
}

.input-container label {
    margin-top: 4px;
    font-size: 23px;
}

/*noinspection CssInvalidFunction*/
.input-container input[type="text"],
.input-container input[type="password"],
.input-container input[type="email"] {
    padding: 10px;
    border-radius: 10px;
    background: white;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: light-dark(#fff, #222222);
    border: none;
    color: light-dark(black, #a1a1a1);

    -webkit-transition: 50ms;
    transition: 50ms;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.input-container button {
    margin-top: 7px;
    padding: 15px 20px;
    font-size: 20px;
    width: 100%;
    border-radius: 10px;

    background: var(--standard-btn-color);

    border: none;
    cursor: pointer;

    -webkit-transition: 50ms;
    transition: 50ms;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.input-container button:hover {
    background: var(--standard-focus-color);
    border: none;
}

.input-container button:hover.signup {
    background: linear-gradient(
            to left,
            var(--standard-focus-color) 20%,
            #000000 30%,
            var(--standard-focus-color) 70%,
            #000000 80%
    );
    background-size: 500% auto;
    animation: signupShine 3.5s ease-in-out infinite alternate;
    color: white;
}

@keyframes signupShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.input-container .remember {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 22px;
}

.input-container .remember input[type="checkbox"] {
    order: -1;
    border: none; /*light-dark(#ccc, #888); */
    background: light-dark(#fff, #ccc);
    color: light-dark(black, white);
    border-radius: 5px;
}

.input-container .remember p {
    margin: 0;
}

.input-container input[type=checkbox] {
    border-radius: 5px;
    padding: 10px;
    width: 25px;
    height: 25px;
}

.input-container input[type=checkbox]:checked {
    accent-color: var(--standard-focus-color);
}


.input-container input[type="text"]:focus,
.input-container input[type="password"]:focus,
.input-container input[type="email"]:focus {
    outline: 2px solid var(--standard-focus-color);
}

.input-container input[type="text"] .credential-error {
    padding-top: 0;
    margin-top: 1px;
}

.password-strength-container .password-strength-progress {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.password-strength-container .password-strength-element {
    flex: 1;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    border: none;
}

.bottom-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 1px
}

@media (max-width: 600px) {
    #account-container {
        width: 100%;
        max-width: none;
        min-width: 400px;
        font-size: 16px;
    }
}
@media (max-width: 1000px) {
    #account-container {
        width: 100%;
        max-width: none;
        max-height: none;
        min-width: 900px;
        min-height: 600px;
        font-size: 25px;
    }

    .input-container {
        font-size: 25px
    }

    .input-container label, .credential-error {
        margin-left: 2px;
    }

    .input-container label {
        margin-top: 20px;
        font-size: 30px;
    }
}
