*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --dark-mode-navigation-color: #222;
    --dark-mode-background-color: #353535;

    --light-mode-navigation-color: #e9e9e9;
    --light-mode-background-color: white;

    --dark-mode-login-bg-color: #373434;
    --light-mode-login-bg-color: #efefef;

    --light-mode-standard-focus-color: #b156fa;
    --dark-mode-standard-focus-color: #7400c2;

    --light-mode-standard-btn-color: #c78df5;
    --dark-mode-standard-btn-color: #960ffa;

    --light-mode-link: #7051f5;
    --dark-mode-link: #553acc;
}

body {
    background: light-dark(var(--light-mode-background-color), var(--dark-mode-background-color));
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-kerning: none;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
    padding: 0;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
}

* {
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}
.dark-mode {
    color-scheme: dark;
    color: #e2e2e2;

}
.light-mode {
    color-scheme: white;
    color: black;
}

input[type=text], input[type=password], input[type=email] {
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

window-max-width {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

body.dark-mode {
    background-color: #353232;
    color: white;
}

body.light-mode {
    background-color: white;
    color: black;
}

#login-prompt {
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;
}

*:focus {
    outline: 2px solid light-dark(var(--light-mode-standard-focus-color), var(--dark-mode-standard-focus-color));
}

.custom-focus {
    outline: 2px solid light-dark(var(--light-mode-standard-focus-color), var(--dark-mode-standard-focus-color));
}

.no-outline:focus {
    outline: none;
}

.danger{
    color: #890000;
}
.error {
    color: #d41212;
}
.warning {
    color: #f9ff43;
}
.success {
    color: #49ff00;
}

.danger-background{
    background: #890000;
}
.error-background {
    background: #d41212;
}
.warning-background {
    background: #f9ff43;
}
.success-background {
    background: #49ff00;
}


flink {
    color: light-dark(var(--light-mode-link), var(--dark-mode-link));
    text-decoration: none;
}
flink:hover {
    cursor: pointer;
}
flink-d {
    color: light-dark(var(--light-mode-link), var(--dark-mode-link)) !important;
    text-decoration: none !important;
}
flink-d:hover {
    cursor: pointer !important;
}
a {
    color: light-dark(var(--light-mode-link), var(--dark-mode-link));
    text-decoration: none;
}

@media (max-device-width: 1000px) {
}